<html>
    <head>
        <title>Camera</title>
    </head>
    <body class="step1">
        <button>Recognize</button>

        <span id="step3"></span>

        <div class="container">
            <figure class="not-ready">
                <video autoplay></video>
            </figure>

            <div id="step2">
                <figure>
                    <canvas style="display:none"></canvas>
                    <img src=""/>
                </figure>
            </div>
                
        </div>
        

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/static/js/vendor/modernizr.min.js"></script>
        <script src="/static/js/vendor/bootstrap.min.js"></script>
        <script src="/static/js/vendor/jquery.Jcrop.js"></script>
        <script src="/static/js/vendor/glfx.min.js"></script>

        <!-- ours -->
        <script src="/static/js/image-capture.js" type="text/javascript"></script>
    </body>
</html>
